In [1]:
import pandas as pd
import warnings
import re

In [2]:
censo_edad=pd.read_csv(r"C:\Users\ruizr\Desktop\datos\data_limpia\DECENNIALDP2020.DP1-Data.csv")

In [3]:
censo_edad.head(2)

,GEO_ID,NAME,DP1_0001C,DP1_0002C,DP1_0003C,DP1_0004C,DP1_0005C,DP1_0006C,DP1_0007C,DP1_0008C,...,DP1_0152P,DP1_0153P,DP1_0154P,DP1_0155P,DP1_0156P,DP1_0157P,DP1_0158P,DP1_0159P,DP1_0160P,Unnamed: 322
0,Geography,Geographic Area Name,Count!!SEX AND AGE!!Total population,Count!!SEX AND AGE!!Total population!!Under 5 ...,Count!!SEX AND AGE!!Total population!!5 to 9 y...,Count!!SEX AND AGE!!Total population!!10 to 14...,Count!!SEX AND AGE!!Total population!!15 to 19...,Count!!SEX AND AGE!!Total population!!20 to 24...,Count!!SEX AND AGE!!Total population!!25 to 29...,Count!!SEX AND AGE!!Total population!!30 to 34...,...,Percent!!HOUSING OCCUPANCY!!Total housing unit...,Percent!!HOUSING OCCUPANCY!!Total housing unit...,Percent!!HOUSING OCCUPANCY!!Total housing unit...,Percent!!HOUSING OCCUPANCY!!Total housing unit...,Percent!!VACANCY RATES!!Homeowner vacancy rate...,Percent!!VACANCY RATES!!Rental vacancy rate (p...,Percent!!HOUSING TENURE!!Occupied housing units,Percent!!HOUSING TENURE!!Occupied housing unit...,Percent!!HOUSING TENURE!!Occupied housing unit...,NaN
1,0400000US06,California,39538223,2137439,2393219,2613891,2644071,2731553,2915258,2911574,...,0.5,0.2,2.1,1.3,(X),(X),100.0,54.5,45.5,NaN

*Se eliminan las columnas actuales para dar paso a la fila [1] con el verdadero nombre de las columnas*

In [4]:
nuevos_nombres = censo_edad.iloc[0]
censo_edad = censo_edad.iloc[1:].copy()
censo_edad.columns = nuevos_nombres

censo_edad.reset_index(drop=True, inplace=True)

In [5]:
censo_edad.head(2)

,Geography,Geographic Area Name,Count!!SEX AND AGE!!Total population,Count!!SEX AND AGE!!Total population!!Under 5 years,Count!!SEX AND AGE!!Total population!!5 to 9 years,Count!!SEX AND AGE!!Total population!!10 to 14 years,Count!!SEX AND AGE!!Total population!!15 to 19 years,Count!!SEX AND AGE!!Total population!!20 to 24 years,Count!!SEX AND AGE!!Total population!!25 to 29 years,Count!!SEX AND AGE!!Total population!!30 to 34 years,...,Percent!!HOUSING OCCUPANCY!!Total housing units!!Vacant housing units!!For sale only,"Percent!!HOUSING OCCUPANCY!!Total housing units!!Vacant housing units!!Sold, not occupied","Percent!!HOUSING OCCUPANCY!!Total housing units!!Vacant housing units!!For seasonal, recreational, or occasional use",Percent!!HOUSING OCCUPANCY!!Total housing units!!Vacant housing units!!All other vacants,Percent!!VACANCY RATES!!Homeowner vacancy rate (percent) [4],Percent!!VACANCY RATES!!Rental vacancy rate (percent) [5],Percent!!HOUSING TENURE!!Occupied housing units,Percent!!HOUSING TENURE!!Occupied housing units!!Owner-occupied housing units,Percent!!HOUSING TENURE!!Occupied housing units!!Renter-occupied housing units,NaN
0,0400000US06,California,39538223,2137439,2393219,2613891,2644071,2731553,2915258,2911574,...,0.5,0.2,2.1,1.3,(X),(X),100.0,54.5,45.5,NaN
1,0500000US06001,"Alameda County, California",1682353,89533,96179,99955,103168,108699,125032,142392,...,0.4,0.2,0.3,1.4,(X),(X),100.0,51.8,48.2,NaN

In [6]:
censo_edad.shape

(59, 323)

- *Lista de columnas definitivas para el modelo*

In [7]:
columnas_censo = [
    # IdentificaciÃ³n
    "Geographic Area Name",

    # Totales generales
    "Count!!SEX AND AGE!!Total population",
    "Count!!SEX AND AGE!!Male population",
    "Count!!SEX AND AGE!!Female population",

    # Edad media
    "Count!!MEDIAN AGE BY SEX!!Both sexes",

    # Hogares unipersonales
    "Count!!HOUSEHOLDS BY TYPE!!Total households!!Male householder, no spouse or partner present:!!Living alone",
    "Count!!HOUSEHOLDS BY TYPE!!Total households!!Female householder, no spouse or partner present:!!Living alone"
]

# Filtrar el DataFrame
census = censo_edad[columnas_censo].copy()

- *Renombrar columnas a nombres en espaÃ±ol simplificados*

In [8]:
census.rename(columns={
    "Geographic Area Name": "localidad",

    # Totales
    "Count!!SEX AND AGE!!Total population": "poblacion_total",
    "Count!!SEX AND AGE!!Male population": "hombres_total",
    "Count!!SEX AND AGE!!Female population": "mujeres_total",


    # Edad media
    "Count!!MEDIAN AGE BY SEX!!Both sexes": "edad_media",

    # Hogares solos
    "Count!!HOUSEHOLDS BY TYPE!!Total households!!Male householder, no spouse or partner present:!!Living alone": "hombres_solos",
    "Count!!HOUSEHOLDS BY TYPE!!Total households!!Female householder, no spouse or partner present:!!Living alone": "mujeres_solas"
}, inplace=True)

In [9]:
census.shape

(59, 7)

In [10]:
census. info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59 entries, 0 to 58
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   localidad        59 non-null     object
 1   poblacion_total  59 non-null     object
 2   hombres_total    59 non-null     object
 3   mujeres_total    59 non-null     object
 4   edad_media       59 non-null     object
 5   hombres_solos    59 non-null     object
 6   mujeres_solas    59 non-null     object
dtypes: object(7)
memory usage: 3.4+ KB

In [13]:
cols_to_convert = ['poblacion_total', 'hombres_total', 'mujeres_total', 
                   'edad_media', 'hombres_solos', 'mujeres_solas']

census[cols_to_convert] = census[cols_to_convert].replace(',', '', regex=True).astype(float)

# Verificar los tipos de datos
print(census.dtypes)

0
localidad           object
poblacion_total    float64
hombres_total      float64
mujeres_total      float64
edad_media         float64
hombres_solos      float64
mujeres_solas      float64
dtype: object

In [14]:
census.to_csv(r"C:\Users\ruizr\Desktop\datos\data_limpia\census.csv", index=False)